* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --textColor: #5a5a5a;
  --white:#fff
}
a {
  text-decoration:none;
  color: var(--textColor);
}
img{
  cursor: pointer;
}
.flex-div{
  display:flex;
  align-items:center;
}